
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #e0f7fa; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

/* Container  */
.container {
  width: 100%;
  max-width: 900px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(126, 2, 2, 0.1);
  background: linear-gradient(135deg, #eeeaea, #046e5d);
}

/* Heading styles */
h2 {
  color: #022f2e;
  font-family:serif;
  font-size: 28px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(202, 18, 18, 0.1);
}

/* Form group styling */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Input field styling */
input {
  padding: 12px;
  border: 1px solid #a57c7c;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Input field focus styling */
input:focus {
  border-color: #158f0a;
  outline: none;
  box-shadow: 0 0 8px rgba(2, 150, 150, 0.479);
}

/* Button styling */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #d2ccd2, #036d6d);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  width: 100px;
  font-family: 'Times New Roman', Times, serif;
}

button:hover {
  background: linear-gradient(135deg, #1b1a1a, #800600);
  transform: scale(1.05);
}

/* Error message styling */
p.error {
  color: #9c0d08;
  font-size: 15px;
  margin: 10px 0;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #013a42;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #16c0ac;
  color: rgb(112, 42, 42);
}

table td {
  background-color: #f9f9f9;
}

table tr:nth-child(even) td {
  background-color: #d4c0c0;
}

table tr:hover td {
  background-color: #0bad84;
}

@media (max-width: 600px) {
  .form-group {
    gap: 10px;
  }

  button {
    width: 100%;
  }
}
